body {
  background-color: #2ecc71;
}

.box {
  width: 370;
  height: 470;
  background-color: white;
  margin-top: 90px;
}

h2 {
  color: gray;
}

h3 {
  color: gray;
}

.input2 {
  padding: 20;
}

button {
  background-color: #2ecc71;
  color: white;
}

span {
  color: rgb(30, 30, 197);
  text-decoration: underline;
}
